#!/bin/bash

# add local scripts to the path for easier usage, e.g. `tsn foo.ts` instead of `pnpm tsn foo.ts`
export PATH="$PWD/bin:$PATH"

# enable local overrides for sensitive changes
if test -f .envrc.local; then
    source .envrc.local
fi
