<!--
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Glide tutor</title>

    <link rel="stylesheet" href="resource://glide-docs/docs.css" />
    <link rel="stylesheet" href="resource://glide-docs/reset.css" />

    <link rel="stylesheet" href="./tutor.css" />

    <script src="./tutor.js"></script>
  </head>
  <div class="main-container">
    <div id="search"></div>
    <div class="content-container">
      <body>
        <template id="highlight-template">
          <span class="shiki-inline">
            <span style="color: #343b58; --shiki-dark: #c0caf5"></span>
          </span>
        </template>
        <article>
          <pre class="ascii-art">
   ____  _     ___ ____  _____ 
  / ___|| |   |_ _|  _ \| ____|
 | |  _ | |    | || | | |  _|  
 | |_| || |___ | || |_| | |___ 
  \____||_____|___|____/|_____|
          </pre>
          <h1>Welcome to the Glide tutorial!</h1>
          <p>
            Glide is a powerful browser with many features & commands, however
            only a small subset of these will be covered in this tutorial.
          </p>
          <p>
            These lessons are intended to be <strong><highlight
              >executed</highlight></strong>, simply reading them will not do
            you any good!
          </p>
        </article>
      </body>
    </div>
  </div>
</html>
