<!--
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Glide tutor</title>

    <link rel="stylesheet" href="resource://glide-docs/docs.css" />
    <link rel="stylesheet" href="resource://glide-docs/reset.css" />
    <link rel="stylesheet" href="resource://glide-docs/monospace-web/index.css" />

    <link rel="stylesheet" href="./tutor.css" />

    <script src="./tutor.js"></script>
  </head>
  <div class="main-container">
    <div id="search"></div>
    <div class="content-container">
      <body>
        <template id="highlight-template">
          <span class="shiki-inline">
            <span style="color:#343B58;--shiki-dark:#C0CAF5"></span>
          </span>
        </template>
        <article>
          <h1>Welcome to the Glide tutorial!</h1>
          <p>
            Glide is a powerful browser with many features & commands, however only a small subset of these will be covered in this tutorial.
          </p>
          <p>
            These lessons are intended to be <strong><highlight>executed</highlight></strong>, simply reading them will not do you any good!
          </p>
        </article>
      </body>
    </div>
  </div>
</html>
