<!--
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Glide tutor</title>

    <link rel="stylesheet" href="resource://glide-docs/docs.css" />
    <link rel="stylesheet" href="resource://glide-docs/reset.css" />
    <link rel="icon" href="resource://glide-docs/logo-32.png" />

    <link rel="stylesheet" href="./tutor.css" />

    <script src="./tutor.js"></script>
  </head>
  <div class="main-container">
    <div id="search"></div>
    <div class="content-container">
      <body>
        <template id="highlight-template">
          <span class="shiki-inline">
            <span style="color: #343b58; --shiki-dark: #c0caf5"></span>
          </span>
        </template>
        <article>
          <pre class="ascii-art">
   ____  _     ___ ____  _____ 
  / ___|| |   |_ _|  _ \| ____|
 | |  _ | |    | || | | |  _|  
 | |_| || |___ | || |_| | |___ 
  \____||_____|___|____/|_____|
          </pre>
          <p style="text-align: center; max-width: 500px; margin: 0 auto; margin-bottom: 3em">
            Welcome to the Glide tutorial! If you can't see the introduction, press the <highlight
            >j</highlight> key until you can.
          </p>

          <a href="#introduction"><h1 id="introduction" class="tutor-heading">
              ~~~~~ introduction ~~~~~
            </h1></a>

          <p>
            Welcome to the Glide browser! Glide is a bit different from other browsers you may be used to as
            it is modal based, meaning that pressing the same key combination will perform different
            operations in different contexts.
          </p>

          <p>
            The main modes you'll interact with are <highlight>normal</highlight> mode, <highlight
            >insert</highlight> mode, and <highlight>hint</highlight> mode.
          </p>

          <p>
            <highlight>normal</highlight> mode is where most key mappings are defined and is the default mode
            when Glide is launched.
          </p>

          <p>
            <highlight>insert</highlight> mode is for inserting text into elements, and Glide will
            automatically switch to it when an input element is focused.
          </p>

          <p>
            <highlight>hint</highlight> mode lets you navigate web pages using only your keyboard, more on
            that later.
          </p>

          <p>
            At any time, you can tell which mode Glide is in with the indicator at the top left next to the
            reload button.
          </p>
        </article>
      </body>
    </div>
  </div>
</html>
