/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

body {
  font-family: monospace;
}

p {
  line-height: 1.3rem;
}

[id] {
  scroll-margin-top: 2em;
}

.content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 5vh;
}

.content-container > article {
  margin: 0 auto;
}

.ascii-art {
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.2;
  text-align: center;
  margin: 2em 0;
  margin-bottom: 0.5em !important;
}

.hjkl {
  display: flex;
  justify-content: center;
}

.tutor-heading {
  text-align: center;
  padding: 0.5em 1em;
  margin-top: 100px !important;
}

.tutor-heading span {
  color: grey;
}

.pad-to-viewport-end {
  margin-bottom: calc(100svh - 50px);
}

#hint-next-section-button {
  margin-top: 1em;
}

