name: Docs

on:
  workflow_dispatch:
  push:
    branches:
      - docs

jobs:
  deploy:
    environment: docs

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false

      - name: Configure git
        run: |
          git config --global \
            url."https://github.com/mozilla-firefox/firefox.git".insteadOf \
            "git@github.com:mozilla-firefox/firefox.git"

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile
          cd infra && pnpm --ignore-workspace install --frozen-lockfile

      - name: Bundle vendored dependencies
        run: pnpm bundle

      - name: Compile TS
        run: pnpm build:ts

      - name: Build docs
        run: pnpm build:docs

      - name: Deploy to Cloudflare
        working-directory: infra
        run: |
          pnpm wrangler pages deploy --cwd=../src/glide/docs \
            dist \
            --project-name=glide \
            --branch=main
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
